<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
            <!--connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=g463_runners;Integrated Security=True"-->
        <add name="MarathonWPF.Properties.Settings.g463_runnersConnectionString"
             connectionString="Data Source=shuraga.ru;Initial Catalog=g463_runners;Persist Security Info=True;User ID=superuser;Password=P@$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>